.player__wrapper {
  border-radius: 50px;
  background: #e6e6e6;
  padding: 4vh 5.5vw 4.5vh 5.5vw;
  max-width: 500px;
  align-self: start;
  margin: 20px 2vw;
}

.player__wrapper .ab__controls {
  display: flex;
  align-content: center;
  align-items: baseline;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.player__wrapper button {
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  color: #9b9b9b;
  width: 5rem;
  padding: 0.75rem;
  border-radius: 12px;
  background: #e6e6e6;
  box-shadow: 7px 7px 15px #cdcdcd, -7px -7px 15px #ffffff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.player__wrapper button:disabled {
  color: #c9c9c9;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  transition: all ease-in-out 0.3s;
}

.player__wrapper button:disabled:hover {
  color: #c9c9c9;
  box-shadow: inset 5px 5px 15px #cdcdcd, inset -5px -5px 15px #ffffff;
}

.player__wrapper button:hover {
  box-shadow: 4px 4px 15px #cdcdcd, -4px -4px 15px #ffffff;
}

.player__wrapper .a__button {
  flex: 1;
  border-radius: 12px 0 0 12px;
  justify-self: self-end;
}

.player__wrapper .b__button {
  flex: 1;
  border-radius: 0 12px 12px 0;
  justify-self: self-start;
}

.player__wrapper .c__button {
  flex: 1;
  border-radius: 0;
  justify-self: self-start;
  box-shadow: 7px 7px 15px #cdcdcd, -7px -7px 15px #ffffff;
}

.player__wrapper .play__button {
  justify-self: self-end;
}

.player__wrapper .stop__button {
  width: 5rem;
  color: #966f6f;
  justify-self: self-start;
}

.player__wrapper .stop__button:disabled {
  color: #966f6fd3;
}

.player__wrapper .play__stop__controls {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
}

.player__wrapper .progress__container {
  display: inline-flex;
  background: #a8a8a8;
  height: 1rem;
  width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  border-radius: 12px;
  background: #e6e6e6;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  cursor: pointer;
  align-self: center;
  overflow: hidden;
}

.player__wrapper .progress__bar {
  background: linear-gradient(360deg, #2da87b, #34dcacfa);
  border-radius: 12px;
  transition: all ease-in-out 0.03s;
}

.player__wrapper .progress__fill {
  width: 0%;
}

